/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Forces the container to span the full height of the screen */
}

.main-content {
  flex: 1; /* This is the spring that expands and pushes the footer down */
  display: flex;
  flex-direction: column;
}

/* custom cursor bc why not? */
html, body, #root {

/* cursor: url('your-custom-grab-icon.svg'), grab; */
cursor: url('../src/assets/retroCursor.svg') 3 0, auto !important;
}

a,
button,
input[type="button"],
input[type="submit"],
input,
select,
textarea,
[role="button"] {
  cursor: url('../src/assets/retroCursor.svg') 3 0, auto !important;
}

