.home-container{
    overflow-x: hidden;
    /* width: 1000vh; */
}

.home-content {
  display: flex;
  width: 100vw;
  height: 100%;
  /* max-width: 1296px; */
  padding: 40px 20px 0 20px; /*wierd but ok*/

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.hero-section {
  display: flex;
  width: 100%;
  min-width: 1256px;
  height: 100%;
  min-height: 637px;

  background: url(./src/assets/heroImg.png) lightgray 50% / cover no-repeat;
  background-size: cover;

  justify-content: center;
  align-items: center;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 0 #000;
}

.hero-container {
  display: flex;
  width: 1256px;
  height: 637px;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

  background: linear-gradient(101deg, #000 0.21%, rgba(0, 0, 0, 0) 99.79%);
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.hero-image {
  width: 340px;
  height: 340px;
  aspect-ratio: 1/1;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 85px;
}

.hero-text h1 {
  color: #f0f8ff;
  font-family: "Inter", sans-serif;
  font-size: 2.344rem; /* 37.5px */
  font-weight: 700;
  letter-spacing: -0.379px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero-text p {
  color: #ffe500;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  letter-spacing: -0.051px;
  margin-top: 0;
  text-transform: uppercase;
}

.hero-container button {
  display: flex;
  padding: 19px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: #d99e30;
  border-radius: 4px;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0 0 #000;

  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  letter-spacing: -0.649px;
  text-transform: uppercase;

  cursor: pointer;
}

.popular-section{
    width: 100vw;
}

.popular-container {
  display: flex;
  padding: 48px 68px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100vw;
  background: #5b2c91;
  background-blend-mode: multiply;
}

.popular-banner {
  display: flex;
  height: 173px;
  padding: 44px;
  flex-direction: column;
  justify-content: space-between;

  align-self: stretch;

  border: 4px solid #000;
  background: #0b8c8c;
  box-shadow: 8px 8px 0 0 #000;
}

.popular-text {
  display: flex;
  height: 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.popular-text h2 {
  color: #f0f8ff;
  font-family: "Inter", sans-serif;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 120% */
  letter-spacing: -0.379px;
  text-transform: uppercase;
}

.popular-text p {
  color: #ffe500;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.051px;
  text-transform: uppercase;
}

.popular-items {
  display: flex;
  height: 598.656px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.popular-items .col {
  display: flex;
  width: 415px;
  height: 575px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.view-listed-btn {
}
.view-listed-btn button {
  display: flex;
  width: 398.66px;
  padding: 12px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 2px solid #000;
  background: #fff;
  box-shadow: 8px 8px 0 0 #000;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; /* 150% */
  letter-spacing: -0.649px;
  text-transform: uppercase;
}
.join-section {
  width: 1256px;
  height: 1067px;
}

.join-banner {
  display: flex;
  width: 1256px;
  padding: 44px;
  flex-direction: column;
  justify-content: space-between;
  height: 85px;
  gap: 10px;
  align-self: stretch;
  border: 4px solid #000;
  background: #d99e30;
  box-shadow: 8px 8px 0 0 #000;
}

.join-text {
  display: flex;
  height: 85px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}

.join-text h2 {
  color: #f0f8ff;
  font-family: Inter;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 120% */
  letter-spacing: -0.379px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.join-text p {
  margin-top: 0;
  color: #5b2c91;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.051px;
  text-transform: uppercase;
}

.join-hero {
  display: flex;
  width: 1256px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid var(--neutrals-AliceBlue, #f0f8ff);
  background: url(../assets/joinHeroImg.jpg) lightgray 0px -614.069px / 100% 293.801%
    no-repeat;
  box-shadow: 8px 8px 0 0 #000;
}

.join-content {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;

  background: linear-gradient(0deg, #000 15.78%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      131deg,
      rgba(0, 255, 161, 0.3) 15.41%,
      rgba(238, 0, 255, 0.3) 84.59%
    );
  background-blend-mode: normal, plus-darker;
}

.join-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.join-text h2 {
  display: flex;
  width: 780px;
  justify-content: center;
  align-items: center;

  color: #f0f8ff;
  text-align: center;
  font-family: Inter;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 120% */
  letter-spacing: -0.379px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.join-text p {
  margin-top: 0;
  color: #ffe500;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.051px;
  text-transform: uppercase;
}

.join-btn-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.join-btn-container button {
  display: flex;
  height: 54px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border: 2px solid #000;
  background: #fff;
  box-shadow: 8px 8px 0 0 #000;

  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: -0.649px;
  text-transform: uppercase;
}

.already-a-memeber-section {
  display: flex;
  padding: 48px 92px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px !important;

  background: #0b8c8c;
  background-blend-mode: multiply;
}

.already-banner {
  display: flex;
  width: 1256px;
  height: 173px;
  padding: 44px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border: 4px solid var(--neutrals-Black, #000);
  background: #d9411e;
  box-shadow: 8px 8px 0 0 #000;
}

.already-text {
  display: flex;
  height: 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.already-text h2 {
  color: #f0f8ff;
  font-family: "Inter", sans-serif;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 120% */
  letter-spacing: -0.379px;
  text-transform: uppercase;
}

.already-text p{
  color: #ffe500;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.051px;
  text-transform: uppercase;
}

.already-a-memeber-section .row {
  display: flex;
  
  width: 1256px;
  height: 598.656px;
  align-items: center;
  gap: 30px;
}

.already-col {
  display: flex;
  height: 598.656px;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;

  border: 4px solid #000;

  box-shadow: 3px 4px 0 0 #000;
}


.add-yor-listing{
    background: linear-gradient(0deg, #000 15.78%, rgba(0, 0, 0, 0) 100%),
    url(../assets/add-your-listingImg.jpg) lightgray 50% / cover no-repeat;
    
}

.view-product-approval-status{

background: linear-gradient(0deg, #000 15.78%, rgba(0, 0, 0, 0.00) 100%), url(../assets/approval-statusImg.jpg) lightgray 50% / cover no-repeat;

}

.already-col .text-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.already-col .title-text {


  justify-content: space-between;
  align-items: flex-start;
}

.already-col .title-text h2 {
  color: #f0f8ff;
  font-family: "Inter";
  font-size: 22.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 155.556% */
  letter-spacing: -0.631px;
  text-transform: uppercase;
}

.already-col .title-text p {
  color: #ffe500;
  font-family: "Inter", sans-serif;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 142.857% */
  letter-spacing: -0.636px;
  text-transform: uppercase;
}

.already-btn-container{
    display: flex;
width: 1256px;
height: 54px;
align-items: flex-start;
gap: 40px;
}

.already-btn-container button{
    display: flex;
height: 54px;
padding: 12px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;

border: 2px solid #000;
background: #FFF;
box-shadow: 8px 8px 0 0 #000;

color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
letter-spacing: -0.649px;
text-transform: uppercase;
}