.home-content {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 1296px;
	padding: 40px 20px 0 20px; /*wierd but ok*/

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.hero-section {
	display: flex;
	width: 100%;
	max-width: 1256px;
	height: 100%;
	max-height: 637px;

	background-image: url(../assets/heroImg.png);
}

.hero-container {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 40px;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	flex-shrink: 0;

	background: linear-gradient(101deg, #000 0.21%, rgba(0, 0, 0, 0) 99.79%);
}

.hero-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	height: 85px;
}

.hero-text h1 {
	color: #f0f8ff;
	font-family: "Inter", sans-serif;
	font-size: 2.344rem; /* 37.5px */
	font-weight: 700;
	letter-spacing: -0.379px;
	text-transform: uppercase;
}

.hero-text p {
	color: #ffe500;
	font-family: "Inter", sans-serif;
	font-size: 1.25rem; /* 20px */
	font-weight: 500;
	letter-spacing: -0.051px;
	text-transform: uppercase;
}

.hero-container button {
	display: flex;
	padding: 19px 48px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	background-color: #d99e30;
	border-radius: 4px;
	border: 4px solid #000000;
	box-shadow: 4px 4px 0 0 #000;

	color: #fff;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 1.25rem; /* 20px */
	font-weight: 700;
	letter-spacing: -0.649px;
	text-transform: uppercase;

	cursor: pointer;
}
