body{
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    overflow-x: hidden;

}

.products-container{
    display: flex;
    overflow-y: scroll; /*rember to edit the webkit scroll bar*/
}

.products-main-content{
    display: flex;
    width: 1296px;
    height: 1277.31px;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.product-card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px 40px;
    align-self: stretch;
    flex-wrap: wrap;
}