footer{
    display: flex;
    padding-top: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #000;
    background-color: #001A83;
}

.custom-footer{
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1296px;
}

.custom-footer p{
    text-align: center;
    color: #CEE8FF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.141px;
    text-transform: uppercase;
}