.imageBlock {
	display: flex;
	width: 38rem;
	height: 56.875rem;

	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;

	border: 4px solid #000;
	background: #fff;
	box-shadow: 8px 8px 0 0 #000;
}

.productImage {
	height: 50.8125rem;
	align-self: stretch;

	border-bottom: 4px solid #000;
	background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.imageBlockBar {
	display: flex;
	height: 5.5625rem;
	padding: 1.25rem;
	padding-left: 3rem;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;

	background: var(--brandColors-Blue2, #0068c3);
}

.singleProductViewCount {
	width: 1.25rem;
	height: 1.25rem;
}

.singleProductSaveBtn {
	display: flex;
	width: 7.39944rem;
	height: 3.0625rem;
	padding: 0.625rem 1.25rem;
	align-items: center;
	gap: 0.625rem;

	border: 2px solid #000;
	background: #fff;
	box-shadow: 2px 2px 0 0 #000;
}

.singleProductViewCount {
	display: flex;
	padding-right: 0.04006rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}

.iconClock {
	width: 1.25rem;
	height: 1.25rem;
}

.iconHeart {
	width: 1.25rem;
	height: 1.25rem;
	flex-shrink: 0;
}

.blackText {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 1.09375rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5625rem; /* 142.857% */
	letter-spacing: -0.03975rem;
	text-transform: uppercase;
}
