body{
    background-color: black;
    color: #01DF40;
}

.user-password-string{
    color: #01DF40;
    text-decoration: underline;
}

.password-container{    
    background-color: black;
    border: 4px solid #01DF40;
    padding: 20px;
    font-weight: 400;
    font-family: 'Bitcount Prop Double', monospace;
    max-width: 600px;
  }
  
.password-heading{
    font-size: 64px;
    font-family: 'Bitcount Prop Double', monospace;
}
  .note-selector{
    display: 'flex';
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .password-controls{

  }

  .controls-btn{
    color: #01DF40;
    background-color: transparent;
    border: none;
  }

  .controls-btn:hover{
    color: #01DF40;
    text-decoration: underline;
    text-decoration-line: underline 4px;
  }