body{
    color: #01DF40;
    background-color: black;
    font-family: 'Bitcount Prop Double', monospace';
    
}

.user-password-string{
    color: #01DF40;
    font-size: 24px;
}

.password-container{    
    background-color: black;
    padding: 20px;
    font-weight: 400;
    font-family: 'Bitcount Prop Double', monospace;
    min-width: 600px;
    height: 100vh;
    width: 100vw;
  }

.password-heading{
    font-size: 64px;
    font-family: 'Bitcount Prop Double', monospace;
}

.slider-grid{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: aqua;
}

.slider-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 1px;
    border-radius: 8px;
    width: 100vw;
    /* border: 2px solid #ddd; */
}

.slider-col input[type="range"]{
    appearance: none; /* vanilla standared vertical slider thingy */
    -webkit-appearance: none;
    background-color: transparent;

    width: 70px;
    height: 20px;

    cursor: pointer;
    background: #01DF40; /* the track colour*/
    outline: none;
    transform: rotate(-90deg);
}

/* I HATE USING WEBKIT SOMETIMES BECAUSE YOU HAVE TO CHANGE THE CSS FOR DIFFERENT BRWSERS BEACUSE THEY WORK DIFFERENTLY FOR SOME REASON, RESTCYVUBIUNIM */
.slider-col input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    height: 70px;
    background-color: #01DF40;

    cursor:grab; /*COULD WE MAYBE DO A CUSTOM POINTER CURSOR AND STUFF, IT WOULD LOOK SO COOOOL >:D*/

}

/* FIREFOX STYLING (EVEN THOUGH LET'S BE REAL NO ONE IS OPENING THIS ON FIRE FOX BUT ANYWAY I HATE SCROLLBAR STYLING >:D) */
.slider-col input[type="range"]::-moz-range-thumb{
width: 25px;
height: 15px;

background: #ccff5e;
border: 2px solid #01DF40;
border-radius: 3px;
cursor: grab;
}
.slider-column input[type="range"]::-webkit-slider-thumb:active{
cursor: grabbing;
}

.slider-col{
    cursor: grab;
}
.current-note{
    margin-bottom: 10px;
    background-color: blue;
}
  .note-selector{
    display: 'flex';
    gap: 10px;

    /* background-color: aqua; */
  }


  .controls-btn{
    color: #01DF40;
    background-color: transparent;
    border: none;
  }

  .controls-btn:hover{
    color: #01DF40;
    text-decoration: underline;
    text-decoration-line: underline 4px;
    
  }